/* app/globals.css */

/* Definisikan variabel warna global untuk tema terang (default) */
:root {
  --background-color: #f0f2f5;
  --card-background-color: #ffffff;
  --text-primary-color: #111827;
  --text-secondary-color: #4b5563;
  --border-color: #e5e7eb;
  --primary-color: #3b82f6;
  --primary-hover-color: #2563eb;
  --input-background-color: #f9fafb;
  --success-color: #16a34a;
  --error-color: #dc2626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary-color);
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}