/* app/page.module.css */

.staticPageContainer {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--card-background-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.staticPageContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary-color);
}

.staticPageContainer p, .staticPageContainer li {
  line-height: 1.7;
  color: var(--text-secondary-color);
}

.staticPageContainer section {
  margin-top: 2rem;
}

.staticPageContainer h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-primary-color);
}

.staticPageContainer ul {
  padding-left: 20px;
}